@import url('./main.css');

.site-main .game-title {
    text-align: center;
    margin: auto;
    padding-top: 3%;
}

.site-main .game-title h1 {
    text-transform: capitalize;
    color: rgb(143, 253, 0);
    /* height: 3rem; */
    text-shadow: 0px 10px 30px rgb(2, 2, 2);
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    background-clip: text;
    font: normal 100 80px/5px var(--retro);
}

.site-main .menu .menu-options {
    /* display: flex; */
    text-align: center;
    margin: auto;
    padding-top: 6%;
    /* vertical-align: auto; */
}

.site-main .menu .menu-options a {
    text-decoration: none;
}

.site-main .menu .menu-options .title {
    display: block;
    margin: 4rem auto;
    text-transform: capitalize;
    color: white;
    height: 4rem;
    text-shadow: var(--box-shadow);
    font: normal 200 60px/10px var(--retro);
    /* cursor: pointer; */
}

/* .site-main .menu .menu-options .title:hover, */
.site-main .menu .menu-options .title.active {
    text-shadow: var(--text-shadow);
    transform: scale(1.08);
}

#modal-members {
    /* width: 100%; */
    max-width: 70%;
    text-align: center;
    background-color: rgb(56, 56, 56);

}

.members {
    text-transform: capitalize;
    color: rgb(143, 253, 0);
    /* height: 3rem; */
    text-shadow: 0px 10px 30px rgb(2, 2, 2);
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    background-clip: text;
    font: normal 50 25px/18px var(--retro);
    margin: 15px;
}

.members h1 {
    margin: 40px;
}

table {
    text-align: center;
    align-items: center;
    color: whitesmoke;
    width: 100%;
    font-size: x-large;
    /* border: 1px solid black; */
}

tr {
    height: 4rem;
}

#modal-opciones {
    background-color: rgb(56, 56, 56);
}