@import url('main.css');

.site-main .game-title {
    text-align: center;
    margin: auto;
    padding-top: 2rem;
}

.site-main .game-title h1 {
    text-transform: capitalize;
    color: rgb(143, 253, 0);
    /* height: 3rem; */
    text-shadow: 0px 10px 30px rgb(2, 2, 2);
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    background-clip: text;
    font: normal 100 50px/5px var(--retro);
    margin: 15px;
}

.site-main .game {
    padding-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas-holder {
    border: 10px solid white;
}

.button {
    background-color: #0704aa;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 4rem;
}

.button5 {
    border-radius: 20%;
}

.info-game {
    display: grid;
    grid-template-columns: auto auto;
    /* background-color: #2196F3; */
    padding: 4px;
    /* grid-template-columns: 50% 50%; */
    grid-template-rows: 40px;
}

.info-game-item,
.info-game-item h3 {
    /* background-color: rgba(11, 35, 248, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 0px;
    /* margin: 0px; */
    color: black;

    /* height: 15px; */
    /* font-size: 5px; */
}

.al-left {
    text-align: left;
}

.al-right {
    text-align: right;
}

.heart {
    color: red;
}

.div-puntaje {
    text-transform: capitalize;
    /* height: 3rem; */
    text-shadow: 10px 10px 30px rgb(0, 4, 255);
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    background-clip: text;
    font: normal 10 20px/1px var(--retro);
    /* vertical-align: text-bottom; */
    /* padding-top: 1px; */

}

.div-lives {
    text-shadow: 10px 10px 30px rgb(255, 255, 255);
    vertical-align: text-bottom;
    padding-top: 5px;
}